.form {
  width: 20rem;
  margin: 0 auto;
  background-color: $main-text-color;
  background-image: url(../images/form_bg-sm.png);
  align-items: center;



  &_input {
    margin: 0 auto;
    text-align: center;
  }

  .name {
    margin-bottom: 1.125rem;
  }

  .tel {
    margin-bottom: 3.4375rem;
  }



  &_text {
    font-size: 0.875rem;
    font-family: "Montserrat", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.86;
    width: 13.875rem;
    text-align: center;

    margin: 0 auto;
    padding: 3.75rem 0rem 1.875rem;

    &--style {
      color: $decor-color;
    }
  }

}

.form_subtext {
  font-size: 0.6875rem;
  font-family: "Montserrat",
    sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.818;
  text-align: center;
  width: 15.875rem;
  padding-bottom: 2.1875rem;
  margin: 0 auto;
}


.input {
  height: 3.125rem;
  width: 17.5rem;
  background-color: transparent;
  border: 0.0625rem solid $white-color;
  padding-left: 1.4375rem;
  font-size: 0.8125rem;
  font-family: "Montserrat",
    sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.885;



  &::placeholder {
    color: $white-color;
  }
}
