.choice {
  background-image: linear-gradient(180deg,
      $main-text-color 260px,
      $white-color 260px);
  padding-bottom: 48px;

  &__title {
    text-align: left;
    margin-bottom: 18px;
  }
}

.choice-menu {
  &__list {
    position: relative;
    z-index: 1;
  }
}

.choice {
  background: linear-gradient(to bottom,
      $main-text-color 64%,
      $white-color 64%);
  margin: 0 auto;

  &_counter {
    counter-increment: choice_counter;

    &::before {
      content: '0'counter(choice_counter);
    }
  }
}

@media (min-width: 768px) {
  .choice {
    background-image: linear-gradient(to bottom,
        $main-text-color 45%,
        $white-color 45%);
    padding-bottom: 65px;
  }

  .choice__title {
    text-align: center;
  }
}

@media (min-width: 1280px) {
  .choice {
    background-image: linear-gradient(to bottom,
        $main-text-color 85%,
        $white-color 85%);
    padding-bottom: 48px;
  }
}

@media (min-width: 1680px) {
  .choice {
    background-image: linear-gradient(to bottom,
        $main-text-color 50%,
        $white-color 50%);
    padding-bottom: 48px;
  }
}
