.form {
  background-color: $main-text-color;
  background-image: url(../images/form_bg-sm.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  padding: 60px 0 60px;

  .form_input {
    margin: 0 auto;
    text-align: center;
  }

  .name {
    margin-bottom: 18px;
  }

  .tel {
    margin-bottom: 55px;
  }

  &_text {
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.86;
    text-align: center;
    padding: 0 calc(35% - 69px);
    margin: 0 auto 30px;

    &--style {
      color: $decor-color;
    }
  }

}

.form_subtext {
  font-size: 1.1rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.818;
  text-align: center;
  margin: 0 auto 30px;
  padding: 0 calc(35% - 80px);
}


.input {
  height: 50px;
  width: 100%;
  background-color: transparent;
  border: 1px solid $white-color;
  padding-left: 23px;
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 2.885;
  margin: 0 auto;


  &::placeholder {
    color: $white-color;
  }
}
