@media (min-width: 320px) {
  .form {
    background-color: $main-text-color;
    background-image: url(../images/form_bg-sm.png);
    background-size: cover;
    min-width: 320px;
    background-repeat: no-repeat;
    padding-top: 60px;
    padding-bottom: 40px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/form_bg-sm@2x.png);
    }
    &-wrapper {
      margin: 0 auto;
      text-align: center;
    }

    &_text {
      @include font($white-color, 1.4, 800, 26, 0);
      min-width: 222px;
      margin: 0 auto 26px;

      &--style {
        color: $decor-color;
      }
    }
    &_subtext {
      @include font($white-color, 1.1, 600, 20, 0);
      min-width: 254px;
      margin: 0 auto 28px;
    }
    &_input {
      margin: 0 auto;
    }
  }

  .input {
    height: 50px;
    width: 280px;
    background-color: transparent;
    border: 1px solid $white-color;
    padding-left: 23px;
    @include font($white-color, 1.3, 600, 28, 0);
    margin: 0 auto;
    &::placeholder {
      color: $white-color;
    }
  }
  .name {
    margin-bottom: 18px;
  }
  .tel {
    margin-bottom: 55px;
  }
  .form_input {
    &.open-form {
      position: fixed;
      z-index: 2;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-sizing: content-box;
      padding: 100%;
      background: rgba(0, 0, 0, 0.93);
    }
  }
}

@media (min-width: 768px) {
  .form {
    background-image: url(../images/form_bg-md.png);
    padding-bottom: 62px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/form_bg-md@2x.png);
    }
    &_text {
      @include font($white-color, 2.2, 800, 38, 1.1);
      margin-bottom: 30px;
      width: 548px;
    }
    &_subtext {
      @include font($white-color, 1.5, 600, 20, 0.75);
      width: 456px;
      margin-bottom: 40px;
    }
    &_input {
      width: 404px;
    }
  }
  .input {
    height: 70px;
    width: 400px;
    @include font($white-color, 1.3, 600, 38, 0.65);
  }
  .name {
    margin-bottom: 20px;
  }
  .tel {
    margin-bottom: 34px;
  }
}

@media (min-width: 1280px) {
  .form {
    background-image: url(../images/form_bg.png);
    padding-top: 80px;
    padding-bottom: 44px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/form_bg@2x.png);
    }
    &_text {
      @include font($white-color, 3.8, 800, 50, 1.88);
      margin-bottom: 44px;
      width: 946px;
    }
    &_subtext {
      @include font($white-color, 1.8, 600, 24, 0.9);
      width: 548px;
      margin-bottom: 50px;
    }
    &_input {
      width: 624px;
    }
  }
  .input {
    height: 72px;
    width: 620px;
    @include font($white-color, 2.1, 600, 38, 1.04);
  }
  .name {
    margin-bottom: 28px;
  }
  .tel {
    margin-bottom: 56px;
  }
  .btn-desktop {
    width: 350px;
  }
}

@media (min-width: 1680px) {
  .form {
    background-image: url(../images/form_bg-xl.png);
    width: 1680px;
    padding-top: 126px;
    padding-bottom: 196px;

    @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/form_bg-xl@2x.png);
    }
    &_text {
      @include font($white-color, 3.8, 800, 50, 1.88);
      margin-bottom: 62px;
      width: 946px;
    }
    &_subtext {
      @include font($white-color, 2.5, 600, 37, 1.25);
      width: 760px;
      margin-bottom: 54px;
    }
  }
}
