.guarantee {
  padding-bottom: 20px;
  &__title {
    text-align: center;
    margin-bottom: 16px;
  }
  &__list {
    background-color: #f1f1f1;
    padding: 28px 20px;
  }
  &__item {
    position: relative;
    padding-left: 34px;
    &-text {
      @include font($main-text-color, 1.1, 500, 20, 0.55);
      position: relative;
      &::before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: -41px;
        width: 20px;
        height: 30px;
        background: url(../images/icon-campfire.svg) center no-repeat;
        background-size: contain;
      }
      &--span {
        color: #ff6b08;
      }
    }
    &:not(:last-child) {
      padding-bottom: 26px;
      &::before {
        content: '';
        position: absolute;
        top: 12px;
        left: 2px;
        width: 2px;
        height: 100%;
        display: block;
        background: url(../images/guarantee-line.png);
        background-size: contain;
      }
    }
  }
}

@media (min-width: 768px) {
  .guarantee {
    padding: 0 40px;
    margin: 0 auto;
    &__title {
      font-size: 2.6rem;
      margin-bottom: 28px;
    }
    // &__container {
    //   padding: 38px 54px 32px 60px;
    // }
    &__list {
      padding: 38px 54px 32px 60px;
    }
  }
}
