.how-we-do {
  &__list {
    background-color: $white-color;
  }

  &__card {
    text-align: center;
    padding: 36px 26px 0 26px;
    transition: all .2s ease-in-out;

    &:hover {
      background-color: $decor-color;

      .how-we-do__text::before {
        background-color: $white-color;
      }

      .item__title,
      .how-we-do__text {
        color: $white-color;
      }

      .how-we-do__svg {
        fill: $active-fill;
        transform: scale(1.2);
      }
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: $secondary-text-color;
    padding: 0 26px 26px 26px;

    &::before {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__svg {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
    fill: $main-fill;
    transition: all .2s ease-in-out;
  }

}
