.how-we-do {
  display: flex;
  justify-content: center;
  padding-bottom: 54px;
  

  &__title {
    width: max-content;
    margin: 0 auto;
    margin-bottom: 38px;
  }

  &__list {
    background-color: $white-color;
    // padding: 0 10px;
  }

  &__card {
    text-align: center;
    padding: 36px 26px 0 26px;
    margin-bottom: 19px;
    transition: all .2s ease-in-out;
    max-width: 430px;
    box-shadow: 4px 6.928px 23.68px 8.32px rgba(29, 29, 27, 0.11);

    &:hover {
      background-color: $decor-color;

      .how-we-do__text::before {
        background-color: $white-color;
      }

      .item__title,
      .how-we-do__text {
        color: $white-color;
      }

      .how-we-do__svg {
        fill: $active-fill;
        transform: scale(1.2);
      }
    }
  }

  &__text {
    font-size: 1.1rem;
    line-height: 1.8;
    color: $secondary-text-color;
    padding: 0 26px 26px 26px;

    &::before {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }

  &__svg {
    width: 45px;
    height: 45px;
    margin-bottom: 5px;
    fill: $main-fill;
    transition: all .2s ease-in-out;
  }

}

@media (min-width: 768px) {
  .how-we-do {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 905px;
    }

    &__card {
      width: 47.5%;
    }
  }
}

@media (min-width: 1280px) {
  .item__title {
    font-size: 1.8rem;
  }

  .how-we-do {
    max-width: 1680px;
    margin: 0 auto;
    padding-bottom: 100px;

    &__list {
      justify-content: space-between;
      max-width: 1344px;
    }

    &__title {
      margin-left: 10px;
      padding-bottom: 50px;
      font-size: 4.2rem;
    }

    &__card {
      width: 32%;

      &:hover {
        .how-we-do__svg {
          fill: $active-fill;
          transform: scale(1.8);
        }
      }
    }

    &__text {
      font-size: 1.5rem;
    }
  }
}

@media (min-width: 1680px) {
  .item__title {
    font-size: 2rem;
  }

  .how-we-do {
    padding-bottom: 130px;

    &__text {
      font-size: 1.8rem;
    }
  }
}
