.counter::before {
  display: block;
  margin-left: 40px;
  color: $decor-color;
}

.problems {
  background: linear-gradient(to bottom,
      $main-text-color 76%,
      $white-color 76%);
  padding-top: 50px;
  padding-bottom: 20px;

  &_counter {
    counter-increment: problems_counter;

    &::before {
      content: '0'counter(problems_counter);
    }
  }
}

.problems-title_wrapper {
  max-width: 90%;
  margin-bottom: 20px;
}

.section-title {
  &_light {
    padding-right: 20px;
  }

  &_item {
    color: $decor-color;
  }
}

@media (min-width: 768px) {
  .problems {
    background-image: url(../images/fire.png),
      linear-gradient(to bottom, $main-text-color 350px, $white-color 350px);
    background-repeat: no-repeat;
    padding-top: 50px;
    background-position: right top 25%;
  }

  .problems-title_wrapper {
    max-width: 520px;
    margin-bottom: 24px;
  }

}

@media (min-width: 1280px) {
  .problems {
    background-image: url(../images/fire1280.png),
      linear-gradient(to bottom, $main-text-color 364px, $white-color 365px);
    background-repeat: no-repeat;
    padding-top: 75px;
    background-position: right bottom 25%;
  }

  .problems-title_wrapper {
    max-width: 57%;
    margin-bottom: 50px;
  }

  .problems-menu {
    &__list {
      @include flex($sp-bt, flex-start, wrap, $rw);
      padding-left: 101px;
    }

    &__item {
      width: 46%;
    }
  }
}
