.problems {
  background: linear-gradient(to bottom,
      $main-text-color 76%,
      $white-color 76%);
  padding-top: 50px;
  padding-bottom: 30px;

  &_counter {
    counter-increment: problems_counter;

    &::before {
      content: '0'counter(problems_counter);
    }
  }
}

.problems-title_wrapper {
  max-width: 90%;
  margin-bottom: 20px;
}

.section-title {
  &_light {
    padding-right: 20px;
  }

  &_item {
    color: $decor-color;
  }
}

@media (min-width: 768px) {
  .problems {
    background-image: url(../images/fire.png),
      linear-gradient(to bottom, $main-text-color 56%, $white-color 56%);
    background-repeat: no-repeat;
    padding-top: 50px;
    padding-bottom: 75px;
    background-position: right top 14%;
  }

  .problems-title_wrapper {
    max-width: 520px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1280px) {
  .problems {
    background-image: url(../images/fire1280.png),
      linear-gradient(to bottom, $main-text-color 80%, $white-color 80%);
    background-repeat: no-repeat;
    padding-top: 65px;
    padding-bottom: 75px;
    background-position: right top 16%;
  }

  .problems-title_wrapper {
    max-width: 786px;
    margin-bottom: 46px;
  }

  .problems-menu {
    &__list {
      @include flex($sp-bt, flex-start, wrap, $rw);
      padding-left: 100px;
    }

    &__item {
      width: 46%;
    }
  }
}

@media (min-width: 1680px) {
  .problems {
    background-image: url(../images/fire1680.png),
      linear-gradient(to bottom, $main-text-color 80%, $white-color 80%);
    background-repeat: no-repeat;
    padding-top: 105px;
    background-position: right top 38%;
  }

  .problems-title_wrapper {
    max-width: 830px;
    margin-bottom: 70px;
  }

  .problems-menu {
    &__list {
      padding-left: 100px;
    }

    &__item {
      width: 46%;
    }
  }
}
