.program { 
  background-color: #111517;
  padding: 50px 0 25px;

  .program__title {
    text-align: center;

  }

  .program__list { 
    .program__item { 
      .program__item-title { 
        @include font($white-color, 15, 700, 29, 1.65);
        text-transform: uppercase;
      }

      .program__item-sublist { 
        .program__sublist-item { 
          .program__sublist-item-title { 
            .program__sublist-item-text { 

            }
          }
        }
      }
    }

  }

  .program__img-bg-bottom { 

  }

}

