@mixin flex($jc, $ai, $fw, $fd) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  flex-direction: $fd;
}

@mixin font($clr, $fz, $fw, $lh, $ls) {
  color: $clr;
  font-size: $fz+px;
  font-weight: $fw;
  line-height: $lh+px;
  letter-spacing: $ls+px;
}