.btn {
  width: 250px;
  height: 48px;
  @include font($white-color, 1.2, 500, 48, 0.3);
  background-color: $decor-color;  
  text-transform: uppercase;

  &:hover {
    background-color: #d35526;
  }

  &:focus{
    outline: none;
  }
}
