.btn {
  width: 250px;
  height: 48px;
  @include font($white-color, 1.2, 700, 48, 0.3);
  background-color: $decor-color;  
  text-transform: uppercase;

  &:focus{
    background-color: $active-color;
    outline: none;
  }
  @media (min-width: 1280px) {
    width: 300px;
    height: 68px;
    @include font($white-color, 1.4, 700, 68, 0.3);
    &:hover{
      background-color: $active-color;
      outline: none;
    }
  }
  @media (min-width: 1680px) {
    width: 350px;
    height: 68px;
    @include font($white-color, 1.6, 700, 68, 0.3);
  }
}
