 .btn {
   margin-bottom: 3.4375rem;
   background-color: rgb(255, 107, 8);
   width: 15.375rem;
   color: $white-color;
   font-size: 0.6875rem;
   font-family: "Montserrat",
     sans-serif;
   color: rgb(255, 255, 255);
   font-weight: bold;
   text-transform: uppercase;
   height: 2.75rem;
 }
