.logo {
  width: 80px;
  position: relative;
  &__link {
    color: $main-text-color;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: 0.75px;
  }
  &__name {
    word-spacing: 14px;
  }
  &__img {
    position: absolute;
    top: -4px;
    left: 36px;
  }
  &__text {
    font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 8px;
    &--span {
      color: $decor-color;
    }
  }
}
