.logo {
  width: 80px;
  position: relative;
  text-align: center;
  top: -10px;

  &__link {
    @include font($main-text-color,1.5,800,20,0.75);
  }
  
  &__img {
    position: relative;
    display: inline;
    top: 11px;
  }

  &__text {
    font-size: 0.5rem;
    text-transform: uppercase;
    line-height: 8px;
    letter-spacing: 0.69px;
    
    &--span {
      color: $decor-color;
    }
  }
}
